body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav {
    /* Add styles for the navigation links if you have any */
}

section {
    padding: 2rem;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
